html {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-logo {
  height: 10vmin;
  margin: 1rem;
  pointer-events: none;
  border-radius: 35%;
  /* box-shadow: 0 0 0.5rem gray; */
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  height: 50vh;
  width: 50vw;
  background-color: grey;
  width:50%;
  margin: 2rem;
}

.App-footer {
  text-align: left;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}